section.events
  background-color: $orange
  border-top: 6px solid $red
  padding-bottom: 50px
  h2
    span
      color: #fff
      font-size: 28px
      background-color: #c3391d
      padding: 0 5px 0 5px
      box-shadow: -4px 5px 10px rgba(0, 0, 0, 0.075)


.highlighted-inverse
  background: #ffffc4
  margin: 50px 0
  padding: 20px
  border-radius: 5px
  box-shadow: -4px 5px 10px rgba(0, 0, 0, 0.075)
  p
    display: block


.btn-enroll
  font-size: 20px
  min-height: 60px
  min-width: 250px
  line-height: 60px
  background: #3fa757
  color: #fff
  border: 0


.btn-proposals
  font-size: 20px
  min-height: 60px
  min-width: 250px
  line-height: 60px
  background: #c3391d
  color: #fff
  border: 0



